:root{
	--sizer: clamp(1vw, 15px, 2vw);
}

.jersey-10-regular{
	font-family: "Jersey 10", arial, serif, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#bankprefix, #cookiepersecondholder{
	text-overflow: ellipsis;
	text-align: center;
	padding-top: var(--sizer);
	padding-bottom: var(--sizer);
}

#cookiepersecondholder{
	color: white;
}

#bank{
	text-overflow: ellipsis;
}

html, body{
	width: 100%;
	height: 100vh;
	height: 100dvh;
	margin: 0px;
	padding: 0px;
	font-size: clamp(1.1rem, 1.3vw, 2rem);
	background-color: #000d1a;
}

p, h1, h2, h3, h4{
	padding: 0px;
	margin: 0px;
	display: block;
	text-overflow: ellipsis;
}

main{
	display: grid;
	grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
	grid-template-areas: ".left .middle .middle2 .right";
	margin: 0px;
	padding: 0px;
}

#left, #middle, #middle2, #right{
	width: 100%;
	overflow: hidden;
	max-height: 100vh;
	max-height: 100dvh;
}

#cookiespage{
	background-color: yellow;
	overflow-y: auto;
	overflow-x: hidden;
	width: 100%;
	height: 100vh;
	height: 100dvh;
	max-height: 100vh;
	max-height: 100dvh;
}

.placeholder-image{
	display: block;
	width: 75%;
	height: auto;
	margin: 0px auto;
	user-select: none;
	user-drag: none; 
	cursor: pointer; 
	padding-bottom: var(--sizer);
	transform-origin: center;
	touch-action: manipulation;
	image-rendering: pixelated;
}

#topcookieimage{
	position: absolute;
	width: 75%;
	left: 12.5%;
	padding: 0px;
	margin: 0px;
	animation: cookierotate 90s linear infinite;
	touch-action: manipulation;
	image-rendering: pixelated;
}

#topcookieimage:active{
	width: 80%;
	left: 10%;
}

@keyframes cookierotate {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

#contractspage{
	overflow-y: auto;
	overflow-x: hidden;
	width: 100%;
	height: 100vh;
	max-height: 100vh;
	height: 100dvh;
	max-height: 100dvh;
	background-size: 150%;
	background-color: black;
}

.accepttext{
	font-weight: bold;
}

.contract{
	background-color: #000d1a;
	color: cyan;
	padding: var(--sizer);
	margin-bottom: var(--sizer);
	border-top: calc(0.1 * var(--sizer)) solid cyan;
	border-bottom: calc(0.1 * var(--sizer)) solid cyan;
	background: repeating-linear-gradient(180deg, #001a1a, #003333 calc(0.3 * var(--sizer)), #003333 calc(0.3 * var(--sizer)));
}

.contract:hover{
	background-color: black;
	color: white;
}

#contractstext{
	margin-top: var(--sizer);
	margin-left: var(--sizer);
	margin-bottom: var(--sizer);
	color: white;
}

#rebirthspage{
	overflow-y: auto;
	overflow-x: hidden;
	height: 100vh;
	max-height: 100vh;
	height: 100dvh;
	max-height: 100dvh;
}

#upgradespage{
	background-color: #1a1a1a;
	overflow-y: auto;
	overflow-x: hidden;
	height: 100vh;
	max-height: 100vh;
	height: 100dvh;
	max-height: 100dvh;
	padding-left: var(--sizer);
	display: flex;
	flex-direction: column;
	color: white;
}

#buymodepage{
	background-color: #000000;
	margin-right: var(--sizer);
	padding: var(--sizer);
	border-radius: 0 0 calc(0.25 * var(--sizer)) calc(0.25 *  var(--sizer));
}

.buymodebutton{
	color: #ffffff;
	cursor: pointer;
	padding: calc(0.5 * var(--sizer));
	clip-path: polygon(0 0, 100% 0, calc(100% - var(--sizer)) 0, 100% 100%, 0 100%);
	user-select: none;
}

.button{
	display: flex;
	flex-direction: column;
	gap: calc(0.25 * var(--sizer));
	user-select: none;
	cursor: pointer; 
}

#upgradetext{
	margin-left: var(--sizer);
	margin-top: var(--sizer);
	margin-bottom: var(--sizer);
}

.upgrade{
	padding: var(--sizer);
	background-color: black;
	border-radius: calc(0.25 * var(--sizer)) 0 0 calc(0.25 *  var(--sizer));
	color: white;
	margin-bottom: var(--sizer);
}

.upgrade:hover{
	background-color: yellow;
	color: black !important;
}

.upgradeHeader{
	color: cyan;
}

.upgrade:hover .upgradeHeader{
	color: black;
}

#middle2{
	background-color: #0d0d0d;
	color: white;
}

.rebirthcontainer{
	display: block;
	color: white;
	text-align: center;
	margin-top: var(--sizer);
}

#unlockwhen{
	text-align: center;
	color: white;
	margin-top: var(--sizer);
}

#rebirtbutton{
	margin-top: var(--sizer);
	background-color: red;
	text-align: center;
	cursor: pointer;
	user-select: none;
}

#rebirthdescriptiontext{
	margin-top: var(--sizer);
	text-align: center;
	margin-bottom: var(--sizer);
}

nav{
	display: none;
}

#topcookiepart, #bottomcookiepart{
	margin: 0px;
	padding: 0px;
}

#topcookiepart{
	display: block;
	position: relative;
	min-height: 80vh;
	min-height: 80dvh;
}

#bottomcookiepart{
	min-height: 20vh;
	min-height: 20dvh;
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media only screen and (max-width: 600px)
{
	:root{
		--sizer: clamp(1vmax, 15px, 3vmax);
	}

	main{
		display: flex;
		flex-direction: column;
	}

	#left, #middle, #middle2, #right{
		height: 80vh;
		max-height: 80vh;
		height: 80dvh;
		max-height: 80dvh;

	}

	#cookiespage, #upgradespage, #contractspage, #rebirthspage{
		height: 80vh;
		max-height: 80vh;
		height: 80dvh;
		max-height: 80dvh;
	}
	
	#left{
		display: none;
	}

	#middle{
		display: none;
	}

	#middle2{
		display: none;
	}

	#right{
		display: none;
	}

	nav{
		display: block;
		min-height: 20vh;
		min-height: 20dvh;
		background-color: #000d1a;
		border-top: calc(0.1 * var(--sizer)) solid cyan;
		width: 100%;
		overflow: hidden;
		box-sizing: border-box;
	}

	nav ul{
		margin: 0px;
		padding: 0px;
		display: flex;
		justify-content: space-between;
		flex-flow: row wrap;
		margin-top: var(--sizer);
		list-style-type: none;
		gap: var(--sizer);
		margin-bottom: var(--sizer);
	}

	nav ul li{
		color: cyan;
		cursor: pointer;
		margin-left: calc(1 * var(--sizer));
		margin-right: calc(1 * var(--sizer));
		user-select: none;
	}

	#topcookiepart{
		display: block;
		min-height: 64vh;
		min-height: 64dvh;
	}

	#bottomcookiepart{
		min-height: 16vh;
		min-height: 16dvh;
		background-color: black;
	}
}