body{
  min-height: 100vh;
  min-height: 100dvh;
  margin: 0px;
  padding: 0px;
  width: 100%;
  font-size: 1rem;
  background-color: #ffb6c1;
  font-family: Arial, sans-serif, serif;
}

:root{
  --sizer: 15px;
}

a{
  text-decoration: none;
}

nav{
  margin: 0px auto;
  padding: 0px;
  position: sticky;
  top: 0px;
  background-color: #ffffff;
  z-index: 3;
}

nav p{
  margin: 0px;
  padding: 0px;
  display: block;
  font-size: 1rem;
}

nav a, nav a:visited{
  color: #000000;
}

nav a:hover, nav a:active{
  color: #777777;
}

nav ul{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: var(--sizer);
}

nav li{
  padding: calc(var(--sizer) / 4);
}

header{
  margin: var(--sizer);
  padding: 0px;
}

.hero{
  margin: 0px auto;
  display: block;
  max-width: 50%;
  height: auto;
  position: relative;
  z-index: 2;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding: 0px;
  width: 100%;
  padding: 0px var(--sizer) 0px var(--sizer);
  box-sizing: border-box;
}

.page{
  background-color: #ffffff;
  width: 100%;
  max-width: 1200px;
  padding: calc(var(--sizer) * 2);
  display: flex;
  flex-direction: column;
  gap: calc(var(--sizer) * 2);
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 0 100px 20px #faa0a0;
}

#indexdisplay{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(var(--sizer) * 2) var(--sizer) calc(var(--sizer) * 2) var(--sizer);
}

.text{
  font-size: clamp(1rem, 0.6667rem + 1.6667vw, 1.5rem);
  margin: 0px;
  padding: 0px;
  display: block;
}

.logo{
  height: auto;
}

#logo-1{
  max-width: 80%;
  width: 500px;
  transform: perspective(3000px) rotateX(0deg) rotateY(0deg);
  transition: transform 2s ease 0s;
  transform-origin: 50% center;
}

#logo-2{
  max-width: 30%;
  width: 200px;
}

footer{
  margin: 0px 0px 0px;
  padding: 0px;
  text-align: center;
  padding: var(--sizer);
}

.circle{
  background-color: #000000;
  height: calc(var(--sizer) * 2);
  width: calc(var(--sizer) * 2);
  border-radius: 50%;
}

.clickable:hover{
  background-color: #a9a9a9;
}

.clickable{
  background-color: #808080;
}

.img{
  margin: 0px auto;
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

#galleryListNavigation{
  display: flex;
  justify-content: center;
  gap: calc(var(--sizer) * 2);
  align-items: center;
}

/*#pagenumber{
  display: block;
  margin: 0px;
  padding: 0px;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: yellow;
  padding: calc(var(--sizer) / 2);
  border-radius: calc(var(--sizer) / 2);
}*/

.bigphoto{
  position: fixed;
  margin: 0px;
  padding: 0px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 95%;
  max-width: 95%;
  height: 100vh;
  width: 100vw;
  box-shadow: 0 0 200vh 200vh rgba(0, 0, 0, 0.5);
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
  object-fit: contain;
}