:root{
	--sizer: 15px;
	--backgroundcolor: #000d1a;
	--color: #00ffff;
	--consolecolor: #ff0000;
	--usercolor: #00ff00;
}

button{
	background: none;
	border: none;
	padding: 0;
	font-size: inherit;
	font-family: inherit;
	line-height: inherit;
}

.button{
	color: var(--color);
}

.button:hover{
	color: var(--usercolor);
}

.button:active{
	color: var(--consolecolor);
}

#date{
	user-select: none;
}

#time{
	user-select: none;
}

html{
	height: 100vh;
	height: 100dvh;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

body{
	font-size: 1rem;
	background-color: var(--backgroundcolor);
	font-family: system-ui, sans-serif, serif;
	min-height: 100%;
	margin: 0px auto;
	padding: 0px;
	width: 100%;
	color: var(--color);
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

header{
	margin: 0px;
	padding: 0px;
}

main{
	flex: 1;
	margin: 0px auto;
	height: 100%;
	width: 100%;
	position: relative;
	box-sizing: border-box;
	padding: var(--sizer) var(--sizer) 0px var(--sizer);
	display: grid;
	max-width: 1200px;
}

nav{
	margin: 0px;
	padding: 0px;
	scrollbar-width: thin;
	scrollbar-color: var(--color) transparent;
}

footer{
	border-top: 1px solid var(--color);
	display: block;
	width: 100%;
	padding: 0px;
	box-sizing: border-box;
}

.imagegallery{
	color: var(--color);
	margin: 0px;
	padding: 0px;
}

.imagelink a{
	display: flex;
	flex-direction: column;
	gap: calc(var(--sizer) / 2);
}

#footercontent{
	width: 100%;
	max-width: 1200px;
	margin: 0px auto;
	padding: calc(var(--sizer) / 2) var(--sizer) calc(var(--sizer) / 2) var(--sizer);
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
    align-items: center;
}

#toplinks{
	display: flex;
	gap: var(--sizer);
	position: sticky;
	top: 0px;
	max-width: 100%;
	flex-direction: row;
  	flex-wrap: wrap;
}

a{
	text-decoration: none;
	display: inline-block;
	color: var(--color);
	width: fit-content;
}

a:visited, a:hover, a:active{
	color: var(--color);
}

ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

h1, h2, p, small{
	display: block;
	margin: 0px;
	padding: 0px;
}

.basictextlink{
	display: flex;
	gap: 0.25em;
	padding-top: var(--sizer);
	padding-bottom: var(--sizer);
	cursor: pointer;
}

.basictextlink p{
	text-decoration: underline;
}


.linkicon{
    width: 1rem;
    height: auto;
}

.linkicon path{
    fill: currentColor;
}

img{
	width: 100%;
	height: auto;
	display: block;
	margin-bottom: calc(var(--sizer) / 2);
}