@font-face{
  font-family: "IBM Plex Sans";
  src: url("./IBMPlexSans-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

.ibm-plex-sans{
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

:root{
	--sizer: 15px;
	--backgroundcolor: #000d1a;
	--color: #00ffff;
}

html{
	height: 100vh;
	height: 100dvh;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

body{
	font-size: 1rem;
	background-color: var(--backgroundcolor);
	font-family: monospace, arial, sans-serif, serif;
	height: 100%;
	padding: var(--sizer);
  	margin: 0px auto;
  	width: 100%;
  	color: var(--color);
  	box-sizing: border-box;
  	display: grid;
  	grid-template-columns: auto 383px;
  	max-width: 1200px;
}

main{
	padding: 0px;
  	margin: 0px auto;
  	height: 100%;
  	width: 100%;
  	position: relative;
  	box-sizing: border-box;
}

#terminalbutton{
	padding-top: var(--sizer);
	padding-bottom: var(--sizer);
}

a{
	text-decoration: none;
	display: inline-block;
	color: var(--color);
	width: fit-content;
}

a:visited, a:hover, a:active{
	color: var(--color);
}

ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

h1, h2, p{
	display: block;
	margin: 0px;
	padding: 0px;
}

.basictextlink{
	display: flex;
	gap: 0.5rem;
}

.basictextlink p{
	text-decoration: underline;
}


.linkicon{
    width: 1rem;
    height: auto;
}

.linkicon path{
    fill: currentColor;
}

img{
	width: 100%;
	height: auto;
	display: block;
	margin-bottom: calc(var(--sizer) / 2);
}

nav{
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0px;
	padding: 0px;
}

.imagegallery{
	display: flex;
	flex-direction: column;
	grid-gap: 0px;
	gap: calc(var(--sizer) * 4);
	color: var(--color);
	margin: 0px;
	padding: 0px;
}

.imagelink a{
	display: flex;
	flex-direction: column;
	gap: calc(var(--sizer) / 2);
}

@media only screen and (max-width: 811px)
{
	body{
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr;
		min-height: 100%;
		height: auto;
	}

	.imagegallery{
		display: grid;
		grid-template-columns: 0.5fr 0.5fr;
		gap: 0px;
		grid-gap: var(--sizer);
	}
}

@media only screen and (max-width: 515px)
{
	nav{
		overflow-x: auto;
		overflow-y: hidden;
		height: fit-content;
	}

	.imagegallery{
		display: flex;
		flex-direction: row;
		grid-gap: 0px;
		gap: var(--sizer);
	}

	.imagelink{
		width: 80%;
		flex-shrink: 0;
		margin-bottom: var(--sizer);
	}
}