main{
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
}

nav{
	margin-bottom: var(--sizer);
}

.imagegallery{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: var(--sizer);
}

.imagelink a{
	margin-bottom: var(--sizer);
}

@media only screen and (max-width: 700px)
{
	.imagegallery{
		grid-template-columns: .5fr .5fr;
	}
}