body.threecolumn main{
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
}

body.threecolumn nav{
	margin-bottom: var(--sizer);
}

body.threecolumn .imagegallery{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: var(--sizer);
}

body.threecolumn .imagelink a{
	margin-bottom: var(--sizer);
}

@media only screen and (max-width: 700px)
{
	body.threecolumn .imagegallery{
		grid-template-columns: .5fr .5fr;
	}
}