:root{
	--sizer: 15px;
	--backgroundcolor: #000d1a;
	--color: #00ffff;
	--consolecolor: #ff0000;
	--usercolor: #00ff00;
	--separator: #ffffff;
}

html{
	height: 100vh;
	height: 100dvh;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

body{
	font-size: 1rem;
	background-color: var(--backgroundcolor);
	font-family: monospace, arial, sans-serif, serif;
	display: flex;
	flex-direction: column;
	border: 1px solid var(--color);
	border: 0px;
	height: 100%;
	padding: 0px;
  	margin: 0px;
  	width: 100%;
  	color: var(--color);
  	box-sizing: border-box;
}

main{
	flex: 1;
	padding: 0px;
  	margin: 0px;
  	height: 100%;
  	width: 100%;
  	position: relative;
}

a{
	text-decoration: none;
	display: inline-block;
	color: var(--color);
}

a:visited, a:hover, a:active{
	color: var(--color);
}

pre{
	font-size: 1rem;
	margin: 0px;
	padding: 0px;
}

span{
	font-size: 1rem;
	margin: 0px;
	padding: 0px;
}

#tplogo{
	padding-bottom: 2ex;
}

header{
	margin: 0px;
	overflow: hidden;
	border-bottom: 1px solid var(--color);
	width: 100%;
	box-sizing: border-box;
}

#toplogo{
	display: none;
}

nav{
	color: var(--color);
	margin: 0px;
}

ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.page{
	width: 100%;
	height: 100%;
	margin: 0px;
	display: grid;
	grid-template-columns: 0.3fr 0.7fr;
	position: absolute;
	overflow-x: auto;
	padding: var(--sizer);
	box-sizing: border-box;
	gap: var(--sizer);
}

.section{
	outline: 1px solid var(--color);
	outline-offset: -1px;
}

#left{
	display: flex;
	flex-direction: column;
	gap: var(--sizer);
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: calc(var(--sizer) + 1px);
}

#right{
	overflow: auto;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	cursor: text;
	display: flex;
	flex-direction: column;
}

#timebox{
	display: flex;
	justify-content: space-between;
}

p{
	font-size: 1rem;
	display: block;
	margin: 0px;
	padding: 0px;
	word-wrap: break-all;
}

#buttonholder{
	margin-top: auto;
	box-sizing: border-box;
	display: flex;
	gap: var(--sizer);
}

.button{
	flex: 1;
	border: 1px solid var(--color);
	padding: calc(var(--sizer) / 3);
	text-align: center;
	box-sizing: border-box;
	color: var(--color);
}

.button:hover{
	color: var(--usercolor);
	border: 1px solid var(--usercolor);
}

.button:active{
	color: var(--consolecolor);
	border: 1px solid var(--consolecolor);
}

#consolehistory{
	margin: 0px;
	padding: calc(var(--sizer) + 1px) calc(var(--sizer) + 1px) 0px calc(var(--sizer) + 1px);
}

#textareaholder{
	margin: 0px;
	padding: 0px;
	display: flex;
	padding: 0px calc(var(--sizer) + 1px) calc(var(--sizer) + 1px) calc(var(--sizer) + 1px);
	flex: 1;
}

#consolewindow{
	height: auto;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: rgba(0, 0, 0, 0);
	color: var(--color);
	outline: none;
	border: none;
	overflow: hidden;
	font-size: 1rem;
	resize: none;
	word-wrap: break-all;
}

@media only screen and (max-width: 715px)
{
	.page{
		grid-template-columns: 100% 100%;
	}

	#left{
		min-width: 100%;
	}

	#right{
		min-width: 100%;
	}
}